.about-description {
  width: 48%;
  p {
    font-size: 20px;
    line-height: 1.3;
  }

}
.about {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  background: #533838;
  padding: 30px;
  height: 50vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  .stack {
    font-size: 21px;
    margin-bottom: 30px;
  }
  .tech{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    flex-direction: column;

  }
  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .tech-stack li {
    font-size: 19px;
    list-style: square;
    width: 200px;
  }
}
