.contact {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #ffffff;
  min-height: 300px;
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 7px;
  @media (max-width: 500px)  {
flex-direction: column;  } 
  &-btn {
    border: 5px solid #0059ff;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    &:hover {
      background: #0059ff;
      color: #fff;
    }
  }
  &-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 500px)  {
  width: 100%;
  justify-content: space-around;
    } 
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        &:hover{
          background: #fffb00;
          padding: 5px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
}
      }
    }
  }
}
