.contact {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #ffffff;
  min-height: 300px;
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 7px;
  @media (max-width: 500px) {
    flex-direction: column;
  }
  &-btn {
      border: 5px solid #a395e2;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s; 
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: #a395e2;
       }
    }
  }
  &-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 500px) {
      width: 100%;
      justify-content: space-around;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 55px;
        height: 55px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        padding: 5px;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background: #ffffff;
            padding: 0px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
        }
      }
    }
  }
}
