.menu {
  display: flex;
  align-items: center;
  min-height: 500px;
  height: calc(60vh - 5px);
  margin-bottom: 7px;
  @media (max-width: 800px) {
    flex-direction: column;
    height: auto;
  }
}
.menu-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  @media (max-width: 800px) {
    width: 100%;
    margin-top: 10px;
  }

  .menu-list {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    @media (max-width: 800px) {
      width: 100%;
    }
    .menu-item {
      width: 49.6%;
      height: 100%;
      margin-bottom: 7px;
      @media (max-width: 800px) {
        min-height: 250px;
      }
      @media (max-width: 500px) {
        min-height: 170px;
      }
      h6{
        @media (max-width: 500px) {
         font-size: 27px;
        }
      }
    }
  }
}

.menu-item {
  overflow-x: hidden;

  &.main {
    width: 50%;
    height: 100%;
    margin-right: 5px;
    @media (max-width: 800px) {
      width: 100%;
      min-height: 380px;
    }
    @media (max-width: 500px) {
      width: 100%;
      min-height: 300px;
    }
  }
  padding: 40px;
  width: 48.7%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transition: all 0.3s;
  background-color: rgba(235, 252, 6, 0.8);
  @media (max-width: 1000px) {
    padding: 25px;
  }
  h6 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    @media (max-width: 1000px) {
    font-size: 35px;
    }
  }
  &.full {
    width: 100%;
    height: 48%;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    .links {
      justify-content: space-between;
      @media (max-width: 800px) {
        min-height: inherit;
        height: 100%;
      }
    }
    @media (max-width: 800px) {
      min-height: 130px;
      height: 100%;
    }
    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  }

  &:hover {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    background-color: rgba(235, 252, 6, 1);
  }
  &.exp {
    background: rgba(0, 89, 255, 0.8);
    h6 {
      color: #fff;
    }
    &:hover {
      background: rgba(0, 89, 255, 1);
    }
  }
  &.ab {
    background: rgba(83, 56, 56, 0.8);
    h6 {
      color: #fff;
    }

    &:hover {
      background: rgba(83, 56, 56, 1);
    }
  }
}
.title-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
}
.menu-item-title {
  margin: 0;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 100px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  animation: slide-left 10s linear infinite;
  -webkit-animation: slide-left 10s linear infinite;
  @media (max-width: 500px) {
    font-size: 70px;
  }
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
