.projects{
  margin-bottom: 7px;
  .sw-slide{
    height: auto;
    background: rgb(59, 41, 41);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(9,9,121,1) 56%, rgba(255,81,0,1) 100%);    justify-content: center;
    display: flex;
    align-items: center;
    color: #525252;
    font-weight: 700;
    position: relative;
    padding: 10px;
    a{
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      text-decoration: none;
      background: rgb(54, 54, 54);
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 40px;
        height: 40px;
      }
}
  }
  .sw-projects{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 7px;
}
}
.projects-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}